RewriteEngine On
#RewriteRule ^ - [R=200]
#ErrorDocument 200 default

ErrorDocument 401 /
ErrorDocument 402 /
ErrorDocument 403 /
ErrorDocument 404 /
ErrorDocument 500 /

#RewriteCond %{HTTPS} off [OR]
#RewriteCond %{HTTP_HOST} ^www\. [NC]
#RewriteRule ^(.*)$ https://teampresta.com/$1 [L,R=301]